@import '../mixins/index';

form {
  @include stack;
  height: 60vh;
  overflow: auto;
  padding-inline-end: 1rem;
  label {
    display: block;
    font-weight: 700;
  }
  input[type='text'] {
    margin-block-start: 0.5rem;
    border: none;
    border-bottom: 4px solid var(--primary-color);
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    font-size: var(--step-1);
  }
  fieldset {
    margin-block-start: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    gap: 1rem;
    border: none;
    padding: 0;
    legend {
      font-weight: 700;
    }
  }
  label:has(input[type='radio']) {
    margin-inline-start: 4px;
    outline: 3px solid transparent;
    transition: 0.25s ease;
    font-weight: 400;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    display: grid;
    overflow: hidden;
    grid-template-columns: fit-content(15ch) 1fr;
    gap: 0.5rem;
    border-radius: 0.85rem;
    cursor: pointer;
    figure {
      width: 100px;
      border-radius: 0.65rem;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        aspect-ratio: 1;
      }
    }
    dt {
      font-weight: 700;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    dl {
      font-size: var(--step--1);
      display: flex;
      flex-flow: column;
      justify-content: center;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    dd {
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    input {
      position: absolute;
      opacity: 0;
    }
  }
  label:has(input:checked) {
    outline: 3px solid var(--primary-color);
    background: white;
  }

  .form-actions {
    padding-block: 1rem;
    display: flex;
    gap: 1rem;
    button {
      font-size: var(--step-0);
      text-transform: uppercase;
    }
  }

  .input-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    button {
      margin-block-start: 8px;
      height: 100%;
      border: 4px solid var(--primary-color);
    }
  }
}
