@import '../mixins/index';
.recommendations {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    gap: 1rem;
    h2 {
      font-size: var(--step-1);
      text-transform: uppercase;
      color: var(--primary-color);
    }
    .button {
      white-space: nowrap;
    }
  }
  ul {
    @include stack;
    padding: 0;
    margin: 0;
    padding-block-end: 200px;
    height: 60vh;
    overflow: scroll;
    list-style: none;
    padding-inline-end: 1rem;
  }
}
.recommendation {
  padding: 1rem;
  border-radius: 0.85rem;
  display: grid;
  grid-template-columns: 
    fit-content(clamp(100px, 100%, 150%)) 1fr;
  gap: 1rem;
  align-items: center;
  background: rgba(255,255,255, 0.6);
  backdrop-filter: blur(5px);
  figure {
    border-radius: 0.65rem;
    overflow: hidden;
    width:100%;
    max-width: 150px;
    aspect-ratio: 1;
    img {
      height: 100%;
      width: 100%;
    }
  }
  p {
    font-size: var(--step--1);
  }
}

.recommend-song {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
  }
  h2 {
    font-size: var(--step-1);
    text-transform: uppercase;
    color: var(--primary-color);
    margin-block-end: 1rem;
  }
}
