---
import Layout from '../../layouts/Layout.astro';
import Callback from '../../components/Callback.vue';
---

<Layout title="Authenticating...">
  <section class="authentication">
    <div class="container">
      <header>
        <h2>Authenticating...</h2>
      </header>
      <Callback client:load />
    </div>
  </section>
</Layout>
