---
import Layout from '../../layouts/Layout.astro';
import Auth from '../../components/Auth.vue';

const spotifyClientId = import.meta.env.SPOTIFY_CLIENT_ID;
const mode = import.meta.env.MODE;

const scope = 'streaming \
               user-read-email \
               user-read-private \
               playlist-read-private \
               playlist-read-collaborative \
               playlist-modify-private \
               playlist-modify-public';

const randomString = (length) => {
  let text = '';
  const possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

  for (var i = 0; i < length; i++) {
    text += possible.charAt(Math.floor(Math.random() * possible.length));
  }
  return text;
};

const state = randomString(16);
const redirectUri = mode === 'DEV' ? 'http://localhost:3000/auth/callback' : 'https://rimdev-radio.netlify.app/auth/callback';

const auth_query_parameters = new URLSearchParams({
  response_type: 'code',
  client_id: spotifyClientId,
  scope: scope,
  redirect_uri: redirectUri,
  state: state,
});
---

<Layout title="Authenticating...">
  <section class="authentication">
    <div class="container">
      <header>
        <h2>Authenticating...</h2>
      </header>
      <Auth authQueryParameters={auth_query_parameters.toString()} client:load />
    </div>
  </section>
</Layout>
