---
import Layout from '../../layouts/Layout.astro';
import Token from '../../components/Token.vue';
const spotifyClientId = import.meta.env.SPOTIFY_CLIENT_ID;
const spotifyClientSecret = import.meta.env.SPOTIFY_CLIENT_SECRET;
const mode = import.meta.env.MODE;
---

<Layout title="Authenticating...">
  <section class="authentication">
    <div class="container">
      <header>
        <h2>Authenticating...</h2>
      </header>
      <Token clientId={spotifyClientId} clientSecret={spotifyClientSecret} mode={mode} client:idle />
    </div>
  </section>
</Layout>
