---
import Layout from '../layouts/Layout.astro';
import Player from '../components/Player.astro';
import RecommendButton from '../components/RecommendButton.vue';
import Recommendation from '../components/Recommendation.astro';
import { createClient } from '@supabase/supabase-js';

const supabaseUrl = 'https://italxwakbpmnxjmkbptj.supabase.co';
const supabaseKey = import.meta.env.SUPABASE_KEY;
const supabase = createClient(supabaseUrl, supabaseKey);

let { data: recommendations, error } = await supabase.from('recommendations').select();
---

<Layout title="RIMdev Radio">
  <section class="recommendations">
    <div class="container">
      <header>
        <h2>Team Recommendations</h2>
      </header>
      <ul>
        {
          recommendations
            .sort((a, b) => a.id - b.id)
            .reverse()
            .map((rec) => <Recommendation recommendation={rec} />)
        }
      </ul>
    </div>
  </section>
  <Player />
</Layout>
