---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Request Access">
  <div class="request container">
    <header>
      <h2>Request Access</h2>
      <form name="request" netlify>
        <label for="name">
          Name
        </label>
        <input type="text" id="name" name="name" />
        <label for="email">
          Email
        </label>
        <input type="text" id="email" name="email" />
        <section class="form-actions">
          <button type="submit">Request</button>
        </section>
      </form>
    </header>
  </div>
</Layout>