---
import Layout from '../layouts/Layout.astro';
import RequestForm from '../components/RequestForm.vue';
---

<Layout title="Request Access">
  <div class="request container">
    <header>
      <h2>Request Access</h2>
      <RequestForm client:load />
    </header>
  </div>
</Layout>
