<iframe style="position: fixed; bottom: 0; left: 0; border-radius:12px" src="https://open.spotify.com/embed/playlist/0vzgh6sElkx460NpAAjd5H/?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture; shuffle;" loading="lazy"></iframe>

<!-- <section class="now-playing">
  <div class="container">
    <h2>Now Playing</h2>
    <div class="album">
      <figure class="album-art">
        <img
          src="https://upload.wikimedia.org/wikipedia/en/8/83/In_the_aeroplane_over_the_sea_album_cover_copy.jpg"
          alt="In The Aeroplane Over The Sea"
        />
      </figure>
      <dl>
        <dt class="album-track">
          <a href="/" class="album-title" title="In The Aeroplane Over The Sea"
            >In The Aeroplane Over The Sea</a
          >
        </dt>
        <dd class="album-artist">
          <a href="/">Neutral Milk Hotel</a>
        </dd>
        <dd class="album-title">
          <a href="/">In The Aeroplane Over The Sea</a>
        </dd>
      </dl>
    </div>
    <div class="player">
      <button type="button">
        <svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Previous Song</title>
          <path
            d="M36 3.00526C36.0004 2.45471 35.8492 1.91468 35.5629 1.44435C35.2767 0.974006 34.8665 0.591504 34.3773 0.338747C33.8881 0.0859904 33.3387 -0.0272687 32.7894 0.0113805C32.2401 0.0500296 31.712 0.239096 31.263 0.557862L10.263 15.4432C9.87308 15.7192 9.55474 16.0843 9.33446 16.5082C9.11418 16.932 8.99834 17.4023 8.99658 17.8799C8.99482 18.3576 9.10719 18.8287 9.32433 19.2542C9.54148 19.6796 9.85713 20.0471 10.245 20.326L31.245 35.4332C31.693 35.7563 32.2215 35.9494 32.7723 35.9913C33.3231 36.0333 33.8748 35.9223 34.3665 35.6708C34.8583 35.4192 35.271 35.0368 35.5592 34.5657C35.8475 34.0946 36 33.5531 36 33.0008V3.00526ZM0 1.49963C0 1.1019 0.158036 0.720467 0.43934 0.439232C0.720645 0.157996 1.10218 0 1.5 0C1.89782 0 2.27936 0.157996 2.56066 0.439232C2.84196 0.720467 3 1.1019 3 1.49963V34.4915C3 34.8892 2.84196 35.2706 2.56066 35.5519C2.27936 35.8331 1.89782 35.9911 1.5 35.9911C1.10218 35.9911 0.720645 35.8331 0.43934 35.5519C0.158036 35.2706 0 34.8892 0 34.4915V1.49963Z"
            fill="white"></path>
        </svg>
      </button>
      <button type="button">
        <svg
          width="49"
          height="48"
          viewBox="0 0 49 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Play</title>
          <path
            d="M46.3533 20.7285L5.52909 0.336862C4.97834 0.0819537 4.37253 -0.0312968 3.76679 0.00741907C3.16105 0.0461349 2.57462 0.235588 2.06089 0.558532C1.54715 0.881476 1.12243 1.32765 0.825382 1.85645C0.528334 2.38525 0.368395 2.97987 0.360124 3.58618V44.352C0.354981 44.9744 0.510639 45.5875 0.812054 46.1323C1.11347 46.677 1.55045 47.1348 2.08075 47.4615C2.61106 47.7882 3.21676 47.9727 3.83931 47.9972C4.46186 48.0217 5.0802 47.8853 5.63458 47.6013L46.3533 27.2096C46.9565 26.9071 47.4636 26.4431 47.818 25.8693C48.1723 25.2955 48.36 24.6345 48.36 23.9603C48.36 23.2861 48.1723 22.6251 47.818 22.0513C47.4636 21.4775 46.9565 21.0134 46.3533 20.711V20.7285Z"
            fill="white"></path>
        </svg>
      </button>
      <button type="button">
        <svg
          width="37"
          height="37"
          viewBox="0 0 37 37"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Next Song</title>
          <path
            d="M33.7204 1.74001C33.7204 1.34219 33.8784 0.960657 34.1597 0.679352C34.4409 0.398048 34.8224 0.240013 35.2202 0.240013C35.618 0.240013 35.9994 0.398048 36.2807 0.679352C36.562 0.960657 36.72 1.34219 36.72 1.74001V34.74C36.72 35.1378 36.562 35.5193 36.2807 35.8007C35.9994 36.082 35.618 36.24 35.2202 36.24C34.8224 36.24 34.4409 36.082 34.1597 35.8007C33.8784 35.5193 33.7204 35.1378 33.7204 34.74V1.74001ZM0.720001 3.99601C0.720001 0.993012 4.07358 -0.791986 6.56477 0.886512L27.5666 15.0345C28.0741 15.3767 28.4901 15.8378 28.7783 16.3778C29.0665 16.9177 29.2182 17.52 29.2202 18.1321C29.2221 18.7442 29.0742 19.3474 28.7893 19.8891C28.5045 20.4309 28.0914 20.8947 27.5861 21.24L6.58427 35.58C4.09458 37.278 0.720001 35.496 0.720001 32.481V3.99901V3.99601Z"
            fill="white"></path>
        </svg>
      </button>
    </div>
  </div>
</section> -->
