<section class="now-playing">
  <div class="container">
    <h2>Now Playing</h2>
    <div class="album">
      <figure class="album-art">
        <img
          src="https://upload.wikimedia.org/wikipedia/en/8/83/In_the_aeroplane_over_the_sea_album_cover_copy.jpg"
          alt="In The Aeroplane Over The Sea"
        />
      </figure>
      <dl>
        <dt class="album-track">
          <a href="/" class="album-title" title="In The Aeroplane Over The Sea">In The Aeroplane Over The Sea</a>
        </dt>
        <dd class="album-title">
          <a href="/" class="album-title">In The Aeroplane Over The Sea</a>
        </dd>
        <dd class="album-artist">
          <a href="/" class="album-title">In The Aeroplane Over The Sea</a>
        </dd>
      </dl>
    </div>
    <div class="player">
      <button type="button">Prev</button>
      <button type="button">Play</button>
      <button type="button">Next</button>
    </div>
  </div>
</section>
